@model JobSearch.Model.JobViewModel
@{
    ViewBag.Title = "PostJob";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/JobSearch/Content/assets/css/shop-main.css" rel="stylesheet" />
<div class="container" data-ng-app="ngmodule">
    <div class="account-box login-box box-with-help" style="margin-bottom:10px">
        <div style="margin:10px">
            <div>
                <!-- BREADCRUMBS -->
                <ol class="breadcrumb link-accent separator-arrow">
                    <li><a href="~/" title="Home"><i class="fa fa-home"></i></a></li>
                    <li class="active">Post Job</li>
                </ol>
                <!-- END BREADCRUMBS -->
                <!-- LOGIN BOX -->
                <div class="row" data-ng-controller="ngcontroller">
                    <form class="form-horizontal" ng-submit="postJob(jobData)" role="form" name="form">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="billing-address">
                                    <h3>Job Details</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Title)
                                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @ng_model = "jobData.Title", @ng_required = "true" } })
                                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Location)
                                                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", @ng_model = "jobData.Location", @ng_required = "true" } })
                                                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.MinExperience)
                                                        @Html.EditorFor(model => model.MinExperience, new { htmlAttributes = new { @class = "form-control", @ng_model = "jobData.MinExperience", @ng_required = "true" } })
                                                        @Html.ValidationMessageFor(model => model.MinExperience, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.MaxExperience)
                                                        @Html.EditorFor(model => model.MaxExperience, new { htmlAttributes = new { @class = "form-control", @ng_model = "jobData.MaxExperience", @ng_required = "true" } })
                                                        @Html.ValidationMessageFor(model => model.MaxExperience, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.JobType)
                                                @Html.EnumDropDownListFor(model => model.JobType, htmlAttributes: new { @class = "form-control", @ng_model = "jobData.JobType", @ng_required = "true" })
                                                @Html.ValidationMessageFor(model => model.JobType, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.JobDescription)
                                                @Html.EditorFor(model => model.JobDescription, new { htmlAttributes = new { @class = "form-control", @ng_model = "jobData.JobDescription", @ng_required = "true" } })
                                                @Html.ValidationMessageFor(model => model.JobDescription, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="shipping-address">
                                    <h3>Technical Details</h3>
                                    <div id="shipping-inputs" class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Technology)
                                                @Html.EditorFor(model => model.Technology, new { htmlAttributes = new { @class = "form-control", @ng_model = "jobData.Technology", @ng_required = "true" } })
                                                @Html.ValidationMessageFor(model => model.Technology, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.TechnicalSkills)
                                                @Html.EditorFor(model => model.TechnicalSkills, new { htmlAttributes = new { @class = "form-control", @ng_model = "jobData.TechnicalSkills", @ng_required = "true" } })
                                                @Html.ValidationMessageFor(model => model.TechnicalSkills, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Positions)
                                                @Html.EditorFor(model => model.Positions, new { htmlAttributes = new { @class = "form-control", @ng_model = "jobData.Positions", @ng_required = "true" } })
                                                @Html.ValidationMessageFor(model => model.Positions, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ReferralAmount)
                                                @Html.EditorFor(model => model.ReferralAmount, new { htmlAttributes = new { @class = "form-control", @ng_model = "jobData.ReferralAmount", @ng_required = "false" } })
                                                @Html.ValidationMessageFor(model => model.ReferralAmount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.AboutClient)
                                                @Html.EditorFor(model => model.AboutClient, new { htmlAttributes = new { @class = "form-control", @ng_model = "jobData.AboutClient", @ng_required = "true" } })
                                                @Html.ValidationMessageFor(model => model.AboutClient, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="padding:10px">
                            </div>
                        </div>

                        <div class="row" style="margin-top:20px">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary btn-block"><i class="fa fa-check-circle"></i> Post Job</button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="clearfix"></div>

                    </form>
                </div>
                <!-- END LOGIN BOX -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}