@model List<JobSearch.Model.EducationViewModel>
<h3>Education Details</h3>

<script type="text/javascript">
    app.controller('StudentCtrl', function ($scope) {
        $scope.education = @Html.Raw(Json.Encode(Model));
        console.log($scope.education);
        $scope.addNewChoice = function () {
            alert('herere')
            var newItemNo = $scope.education.length + 1;
            $scope.education.push({ 'id': newItemNo });
        };
        $scope.removeChoice = function () {
            alert('remove space')
            var lastItem = $scope.education.length - 1;
            $scope.education.splice(lastItem);
        };
        $scope.removeChoice = function (currentValue) {
            alert('remove')
            var lastItem = $scope.education.length - 1;
            $scope.education.splice(lastItem);
        };
    });</script>

<div class="billing-address" ng-controller="StudentCtrl">
    <div class="row" style="padding-top:5px">
        <div style="padding-left:10px; float:left" class="col-md-3" >
            <label>Qualification</label>
        </div>
        <div style="padding-left:10px; float:left" class="col-md-3">
            <label>Specialization</label>
        </div>
        <div style="padding-left:10px; float:left" class="col-md-3">
            <label>Institute</label>
        </div>
        <div style="padding-left:10px; float:left" class="col-md-3">
            <label>Year</label>
        </div>
    </div>
    <fieldset data-ng-repeat="edu in education">
        <div class="row" style="padding-top:5px">
            <div style="padding-left:10px; float:left" class="col-md-3">
                <input type="text" class="form-control" placeholder="Qualification" required name="EducationViewModel[{{$index}}].Qualification" ng-model="edu.Qualification">
            </div>
            <div style="padding-left:10px; float:left" class="col-md-3">
                <input type="text" class="form-control" placeholder="Specialization" required name="EducationViewModel[{{$index}}].Specialization" ng-model="edu.Specialization">
            </div>
            <div style="padding-left:10px; float:left" class="col-md-3">
                <input type="text" class="form-control" placeholder="Institute" required name="EducationViewModel[{{$index}}].Institute" ng-model="edu.Institute">
            </div>
            <div style="padding-left:10px; float:left" class="col-md-3">
                <div style="float:left" >
                    <input type="text" class="form-control" placeholder="Year" required name="EducationViewModel[{{$index}}].Year" ng-model="edu.Year"></div>
                <div style="padding-left:5px; float:left">
                    <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>

                </div>
            </div>
            @*<div style="padding-left:10px; float:left">
                    <label for="Specialization" class="control-label sr-only">Specialization</label>
                    <input type="text" class="form-control" id="Specialization" placeholder="Specialization">
                </div>
                <div style="padding-left:10px; float:left">
                    <label for="Institute" class="control-label sr-only">Institute</label>
                    <input type="text" class="form-control" id="Institute" placeholder="Institute/University">
                </div>
                <div style="padding-left:10px; float:left">
                    <div style="float:left">
                        <label for="Year" class="control-label sr-only">Year</label>
                        <input type="text" class="form-control" id="Year" placeholder="Year">
                    </div>
                    <div style="float:left;padding-left:5px">
                        <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
                    </div>
                </div>*@
        </div>
    </fieldset>
    <div class="row">
        <div class="col-md-12" style="padding:10px">
            <div class="billing-address">
                <button class="addfields" ng-click="addNewChoice()" type="button">Add fields</button>
            </div>
        </div>
    </div>
</div>
@*@for (int i = 0; i < Model.Count(); i++)
    {
        <div class="billing-address">

            @Html.HiddenFor(t => Model[i].ID)
                <div class="row" style="padding-top:5px">
                    <div style="padding-left:10px; float:left">
                        @Html.EditorFor(t => Model[i].Qualification, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div style="padding-left:10px; float:left">
                        @Html.EditorFor(t => Model[i].Specialization, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div style="padding-left:10px; float:left">
                        @Html.EditorFor(t => Model[i].Institute, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div style="padding-left:10px; float:left">
                        <div style="float:left">
                            @Html.EditorFor(t => Model[i].Year, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div style="float:left;padding-left:5px">
                            <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
                        </div>
                    </div>
                </div>


        </div>
    }*@
@*<div class="row">
    <div class="col-md-12" style="padding:10px">
        <div class="billing-address">
            <button class="addfields" ng-click="addNewChoice()" type="button">Add fields</button>
        </div>
    </div>
</div>*@
